/* PAGES HEADER 
================================================ */
.news-header, .films-header, .contact-header {
	height: 300px;
	background-image: url('../img/header.png');
	display: table-cell;
	vertical-align: middle;
	width: 1900px;
	min-width: 100%;
}

.news-header h1, .films-header h1, .contact-header h1 {
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	width: 60%;
	padding: 30px 0;
	color: white;
	margin: auto;
	border: 6px solid white;
	background-color: rgba(119, 116, 115, 0.7);
}

.news, .films {
	padding-bottom: 50px;	
}

/* PAGE NEWS
================================================ */
.single-news {
	margin-bottom: 20px;
	padding: 18px;
	width: 80%;
	margin: auto;
}

.single-news h2, #newsletter h2 {
	background-color: rgba(119, 116, 115, 0.3);
	text-align: center;
}

.single-news p {
	padding: 10px 0;
	font-size: 18px;
	width: 80%;
	margin: auto;
	text-align: justify;
}

.single-news .published {
	font-size: 16px;
	text-align: right;
	font-style: italic;
}

#newsletter {
	position: sticky;
	top: 100px;
	right: 30px;
	padding: 20px;
}

#newsletter form label {
	padding-bottom: 0;
}

/* PAGE FILMS
================================================ */
.films-calendar .table, .table h2 {
	text-align: center;
}

.films-calendar .tab-content {
	width: 60%;
	margin: auto;
}

.table .time {
	font-weight: bold;
	color: black;
}

.modal-content {
	text-align: left;
}

.modal-content .film-description {
	margin: 20px 0;
}

.modal .film-image {
	float: left;
	padding: 10px;
}

.films-preface p {
	font-size: 20px;
	text-align: justify;
	padding: 20px;
	width: 80%;
	margin: auto;
}

.films-calendar {
	padding-top: 50px;
	padding-bottom: 50px;
}

.films-calendar ul li a {
	text-transform: uppercase;
	color: rgb(119, 116, 115);
}

/* PAGE CONTACT
================================================ */
.form-control, .btn-default {
	padding: 5px;
	margin: 10px;
}

.form-control.contact-textarea {
	height: 150px;
}

.contact-preface {
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 50px 0;
}

.contact-adress {
	margin: 30px 0 0 30px;
}

.contact-adress dd {
	padding-bottom: 30px;
}

.contact-content {
	padding-bottom: 50px;
}

/* PAGE ADMIN
================================================ */
.sidebar {
  padding-top: 20px;
}

.sidebar h2 {
  text-transform: uppercase;
  text-align: center;
}

.sidebar .admin-content {
  padding-left: 300px;
  padding-right: 100px;
}

#add-film textarea, #add-news textarea {
  height: 150px;
}

.admin-content .btn {
	margin-top: 0px;
}

.admin-content .big {
	width: 55%;
}

.admin-content .small {
	width: 15%;
}